@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap");

* {
	padding: 0;
	margin: 0;
}

body {
	margin: 0;
	padding: 0;
	font-family: "Josefin Sans", sans-serif;
}

section,
footer {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: 30px 50px;
}

section {
	min-height: 100vh;
}
section:nth-child(2n + 1) {
	background-color: #622222;
	color: #eee;
}
footer {
	background-color: #622222;
	color: #eee;
	height: 40vh;
}
